////////////////////////////////////////////////////
// Home
/*---------------------------------
* 08. Home Banner
-----------------------------------*/
.full-screen {
  min-height: 85vh;
}

.home-banner {
  position: relative;
  overflow: hidden;
  background: #222;
}

.home-banner .particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  // opacity: 1
}

.home-banner .home-text-center {
  position: relative;
  z-index: 1;
}

// (০১) মনে রাখবে পারটিলেক জেএস কে যে আইডি দিয়ে ধরবে অথাৎ বেকগ্রাউন্ড ইমেজের ডিভকে প্রথমে পোজিশন রিলেটিভ করতে হবে।
// .home-banner {
//   position: relative;
//   overflow: hidden;
//   background: #222;
// }

// (০২) এর পর পারটিকেল জেএসের ভেতরের particles-js-canvas-el কে পোজিশন এরসোলিট করা লাগবে।
// .home-banner .particles-js-canvas-el {
//   position: absolute;
//   top: 0;
//   left: 0;
//   // opacity: 1
// }

// (০৩) এর পর মূল বডির ভেতর কন্টেইনার রো এবং কলএর ভেতর যে ডিভ থাকবে তাকে পোজিশন রিলেটিভ করতে হবে এবং z-index দিতে হবে।
// .home-banner .home-text-center {
//   position: relative;
//   z-index: 1;
// }
